/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/*CSS variables*/
:root {
    --primary-font: "Nunito", sans-serif;
    --heading-font: "Lora", serif;
    --logo-font: "Berkshire Swash", serif;

    --primary-color: #5eb1bf; /*Blue*/
    --dark-color: #042a2b; /*Dark Blue*/
    --highlight-color: #cdedf6; /*light blue*/
    --secondary-color: #ff8552; /*orange*/
    --secondary-color: #edb88b; /*dark yellow*/
}

/* global styles */
body {
    font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

#tips h1,
#tips h2 {
    text-transform: uppercase;
}

#tips h2 {
    margin-bottom: 2rem;
}

/* nav bar css */
#navbar {
    background-color: var(--primary-color);
    font-family: var(--logo-font);
}

#navbar .logo {
    height: 80px;
}

#navbar .nav-link {
    font-family: var(--primary-font);
}
/*header styles*/
header .logo-text {
    font-family: var(--logo-font);
}

header {
    margin-bottom: 2rem;
}
/* main section styles*/

#tips .card {
    margin-bottom: 1.6rem;
}

/* quote section styles*/
#quote-section {
    background-color: var(--secondary-color);
}

/* links section styles*/
#link-section h2 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#link-section {
    margin-bottom: 2rem;
}
/*footer styles*/
#footer {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 0;
}

.socal-links a {
    color: white;
    font-size: 1.5rem;
    transition: color 0.5s;
}

.socal-links a:hover {
    color: var(--secondary-color);
    font-size: 1.5rem;
    transition: color 0.3s;
}

/*media queries */
/*medium screens */
@media screen and (min-width: 768px) {
    #tips .card-body {
        min-height: 160px;
    }
    #link-section .card-body {
        min-height: 320px;
    }
}
/*large screens */
@media screen and (min-width: 992px) {
    #tips .card-body {
        min-height: 150px;
    }
    #link-section .card-body {
        min-height: 280px;
    }
}

/* X Large screens */
@media screen and (min-width: 1200px) {
    #tips .card-body {
        min-height: 160px;
    }
    #link-section .card-body {
        min-height: 220px;
    }
}

/* XXL screens */
@media screen and (min-width: 1400px) {
    #tips .card-body {
        min-height: 200px;
    }
}
