/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/*CSS variables*/
:root {
    --primary-font: "Nunito", sans-serif;
    --heading-font: "Lora", cursive;
    --logo-font: "Berkshire Swash", cursive;

    --primary-color: #5eb1bf; /*Blue*/
    --dark-color: #042a2b; /*Dark Blue*/
    --highlight-color: #cdedf6; /*light blue*/
    --secondary-color: #ff8552; /*orange*/
    --secondary-color: #edb88b; /*dark yellow*/
}
/* nav bar css */
#navbar {
    background-color: var(--primary-color);
    font-family: var(--logo-font);
    color: white;
}

#navbar .logo {
    height: 80px;
}

/*footer styles*/
#footer {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 0;
}

.socal-links a {
    color: white;
    font-size: 1.5rem;
    transition: color 0.5s;
}

.socal-links a:hover {
    color: var(--secondary-color);
    font-size: 1.5rem;
    transition: color 0.3s;
}
